<%- include("partials/header") -%> 

<h1>Compose</h1>

<form class="" action="/compose" method="post">
    <div class="form-group"></div>
        <label>Title</label>
        <input type="text" class="form-control" name="blogTitle">
        <label>Post</label>
        <textarea class="form-control" name="blogText" cols="30" rows="5"></textarea>
        <button class="btn btn-primary" type="submit" name="button">Publish</button>
    </div>
    
</form>
    


<%- include("partials/footer") -%> 